@model Facturacion.Models.Factura

@{
    ViewData["Title"] = "Details";
}
<div class="form">
    <h1>Detalle</h1>

    <div class="colm">
        <h4>Factura</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.cliente)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.cliente.Nombres)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Fecha)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Fecha)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Total)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Anulada)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Anulada)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Edit" asp-route-id="@Model.Numero_Factura"><input type="button" value="Editar" class="btn btn-warning" /></a> |
        <a asp-action="Index"><input type="button" value="Regresar" class="btn btn-success" /></a>
    </div>
</div>
