@model IEnumerable<Facturacion.Models.Factura>

@{ ViewData["Title"] = "Index Factura" ; }

<h1>Listado</h1>

<p>
    <a asp-action="Create"><input type="button" value="Agregar Nuevo" class="btn btn-success" /></a>
</p>
@if (Model.Count() == 0)
{
<h1 style="
    text-align: center;
">
    No Se han ingresado Datos
</h1>}

<div class="flex-container">
    @foreach (var item in Model)
    {
<div class="flx">

    <div class="card">


        <p>
            @Html.DisplayNameFor(model => model.cliente):   @Html.DisplayFor(modelItem => item.cliente.Nombres)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Fecha):      @Html.DisplayFor(modelItem => item.Fecha)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Total) :    $ @Html.DisplayFor(modelItem => item.Total)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Anulada) :    @Html.DisplayFor(modelItem => item.Anulada)
        </p>
        @if (item.Anulada == true)
        {

<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Acciones
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="btn-group btn-group">

            
                    <a asp-action="Edit" asp-route-id="@item.Numero_Factura">
                        <input type="button" class="btn btn-secondary" value="Editar" />
                    </a>
              
                    <a asp-action="detalle_factura" asp-controller="Detalle_Factura" asp-route-id="@item.Numero_Factura">
                        <input type="button" class="btn btn-success" value="Detalle" />
                    </a>

                
                    <a asp-action="Delete" asp-route-id="@item.Numero_Factura">
                        <input type="button" class="btn btn-danger" value="Eliminar" />
                    </a>
             



        </div>


    </div>
</div> }
else
{

<div class="btn-group">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Acciones
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="btn-group btn-group">

           
                    <a asp-action="Edit" asp-route-id="@item.Numero_Factura">
                        <input type="button" class="btn btn-secondary" value="Editar" />
                    </a>
                
                    <a asp-action="detalle_factura" asp-controller="Detalle_Factura" asp-route-id="@item.Numero_Factura">
                        <input type="button" class="btn btn-success" value="Detalle" />
                    </a>

                
                    <a asp-action="Delete" asp-route-id="@item.Numero_Factura">
                        <input type="button" class="btn btn-danger" value="Eliminar" />
                    </a>
                
                    <a asp-action="AGP" asp-route-id="@item.Numero_Factura">
                        <input type="button" class="btn btn-success" value="Agregar Productos" />
                    </a>
               

        </div>


    </div>
</div>}
    </div>


</div>}

</div>