@model IEnumerable<Facturacion.Models.Usuario>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listado</h1>

<p>
    <a asp-action="Create"><input type="button" value="Agregar Nuevo" class="btn btn-success" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.password)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
               <input type="password" value="@item.password"  readonly="readonly"/>
            </td>
            <td>
                <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Acciones
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <div class="btn-group btn-group">


                            <a asp-action="Edit" asp-route-id="@item.id_usu">
                                <input type="button" class="btn btn-secondary" value="Editar" />
                            </a>



                            <a asp-action="Details" asp-route-id="@item.id_usu">
                                <input type="button" class="btn btn-success" value="Detalle" />
                            </a>



                            <a asp-action="Delete" asp-route-id="@item.id_usu">
                            <input type="button" class="btn btn-danger" value="Eliminar" />
                            </a>





                        </div>


                    </div>
                </div>



            </td>
        </tr>
}
    </tbody>
</table>
