@model IEnumerable<Facturacion.Models.Usuario>

@{ ViewData["Title"] = "Index";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<h1>Listado</h1>

<p>
    <a asp-action="Create"><input type="button" value="Agregar Nuevo" class="btn btn-success" /></a>
</p>

@if (Model.Count() == 0)
{
<h1 style="
    text-align: center;
">
    No Se han ingresado Datos
</h1>}

<div class="flex-container">

    @foreach (var item in Model)
    {
<div class="flx">
    <p>
        @Html.DisplayNameFor(model => model.User) : @Html.DisplayFor(modelItem => item.User)

    </p>
    <p>
        @Html.DisplayNameFor(model => model.Nombre) : @Html.DisplayFor(modelItem => item.Nombre)

    </p>
    <p>
        @Html.DisplayNameFor(model => model.password):   <input type="password" value="@item.password" readonly="readonly" style="height:1.5em" />

    </p>

    <div class="btn-group">
        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Acciones
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <div class="btn-group btn-group">

               
                        <a asp-action="Edit" asp-route-id="@item.id_usu">
                            <input type="button" class="btn btn-secondary" value="Editar" />
                        </a>
                    
                        <a asp-action="Details" asp-route-id="@item.id_usu">
                            <input type="button" class="btn btn-success" value="Detalle" />
                        </a>
                 
                        <a asp-action="Delete" asp-route-id="@item.id_usu">
                            <input type="button" class="btn btn-danger" value="Eliminar" />
                        </a>
                    

            </div>


        </div>
    </div>

</div>}
</div>
