@model Facturacion.Models.Producto

@{ ViewData["Title"] = "Delete Producto"; }
<div class=" form">
    <h1>Borrar</h1>

    <h3>Seguro quieres eliminar el registro?</h3>
    <div>
        <h4>Producto</h4>
        <hr />
        <dl>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.NOMBRE)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.NOMBRE)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DESCRIPCION)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DESCRIPCION)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.PRECIO)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.PRECIO)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.COSTO)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.COSTO)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.EXISTENCIA)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.EXISTENCIA)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ACTIVO)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ACTIVO)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ID_PROUCTO" />
            <input type="submit" value="Borrar" class="btn btn-danger" /> |
            <a asp-action="Index"><input type="button" value="Regresar" class="btn btn-warning" /></a>
        </form>
    </div>
</div>