@model IEnumerable<Facturacion.Models.Producto>

@{ ViewData["Title"] = "Index Producto"; }

<h1>Listado</h1>

<p>
    <a asp-action="Create"><input type="button" value="Agregar Nuevo" class="btn btn-success" /></a>
</p>
@if (Model.Count() == 0)
{
<h1 style="
    text-align: center;
">
    No Se han ingresado Datos
</h1>}
<div class="flex-container">
    @foreach (var item in Model)
    {

<div class="flx">
    <div class="card">

        <p>
            @Html.DisplayNameFor(model => model.NOMBRE): @Html.DisplayFor(modelItem => item.NOMBRE)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.DESCRIPCION): @Html.DisplayFor(modelItem => item.DESCRIPCION)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.PRECIO) : $ @Html.DisplayFor(modelItem => item.PRECIO)
        </p>

        <p>
            @Html.DisplayNameFor(model => model.COSTO):  $@Html.DisplayFor(modelItem => item.COSTO)
        </p>


        <p>
            @Html.DisplayNameFor(model => model.EXISTENCIA): @Html.DisplayFor(modelItem => item.EXISTENCIA)

        </p>
        <p>
            @Html.DisplayNameFor(model => model.ACTIVO): @Html.DisplayFor(modelItem => item.ACTIVO)

        </p>                                                                                                                                          <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acciones
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="btn-group btn-group">


                    <a asp-action="Edit" asp-route-id="@item.ID_PROUCTO">
                        <input type="button" class="btn btn-secondary" value="Editar" />
                    </a>

                    <a asp-action="Details" asp-route-id="@item.ID_PROUCTO">
                        <input type="button" class="btn btn-success" value="Detalle" />
                    </a>


                    <a asp-action="Delete" asp-route-id="@item.ID_PROUCTO">
                        <input type="button" class="btn btn-danger" value="Eliminar" />
                    </a>



                </div>


            </div>
        </div>
    </div>
</div>}
</div>