@model IEnumerable<Facturacion.Models.ventaproducto_Result>

@{
    ViewBag.Title = "Reporte Ventas Producto";
}



<form asp-action="ventas_Producto" asp-controller="Reportes">
    <div class=" form">
        <h2>Reporte Ventas Clientes </h2>
        <span id="error" class="alert-warning"> @TempData["error"]</span>
        <p> <span> Fecha Inicio </span> <input id="in" type="date" name="feci" /> </p>
        <p> <span> Fecha Final </span> <input id="fn" type="date" name="fecf" /> </p>
        <span> Productos </span> @Html.DropDownList("pr", (IEnumerable<SelectListItem>)ViewBag.Productos)
        </p>
        <p> <input id="btn" type="submit" class="btn btn-success" value="Buscar" /></p>
    </div>

</form>
<script>
    const ins = document.querySelector('#in');
    const fn = document.querySelector('#fn');

    ins.addEventListener('change', e => {
        console.log(fn.value)

        if (fn.value == "") {

        } else {

            if (fn.value < e.target.value) {
                document.querySelector('#error').innerHTML = 'Fecha de inicio Mayor a fecha final'
                document.querySelector('#btn').disabled = true;
                setTimeout(function () { document.querySelector('#error').innerHTML = ''; }, 3000);
            }
            else {
                document.querySelector('#btn').disabled = false;
            }
        }
    })
    fn.addEventListener('change', e => {


        if (ins.value == null) {

        } else {

            if (ins.value > e.target.value) {
                document.querySelector('#error').innerHTML = 'Fecha de inicio Mayor a fecha final'
                document.querySelector('#btn').disabled = true;
                setTimeout(function () { document.querySelector('#error').innerHTML = ''; }, 3000);
            }
            else {
                document.querySelector('#btn').disabled = false;
            }
        }
    })

        document.addEventListener('DOMContentLoaded', () => {


                setTimeout(function () { document.querySelector('#error').innerHTML = ''; }, 3000);


            }
            )
    
</script>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Mes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Dia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Producto)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Total_Vendido)
        </th>

    </tr>
    @if (Model is null || Model.Count()==0)
    {
        <tr>
            <td colspan="5"><span class="alert"> No se encontraron Datos </span> </td>
        </tr>
    }
    else
    {

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Mes)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto)
                </td>
               
                <td>
                    @Html.DisplayFor(modelItem => item.Total_Vendido)
                </td>

            </tr>
        }
    }

</table>
