@model IEnumerable<Facturacion.Models.Cliente>

@{ ViewData["Title"] = "Index"; }

<h1>Listado</h1>

<p>
    <a asp-action="Create"><input type="button" value="Agregar Nuevo" class="btn btn-success" /></a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombres)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombres)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Apellido)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Nit)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Telefono)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Activo)
    </td>
    <td>
        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acciones
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="btn-group btn-group">


                    <a asp-action="Edit" asp-route-id="@item.codigo_cliente">
                        <input type="button" class="btn btn-secondary" value="Editar" />
                    </a>



                    <a asp-action="Details" asp-route-id="@item.codigo_cliente">
                        <input type="button" class="btn btn-success" value="Detalle" />
                    </a>



                    <a asp-action="Delete" asp-route-id="@item.codigo_cliente">
                        <input type="button" class="btn btn-danger" value="Eliminar" />
                    </a>





                </div>


            </div>
        </div>
    </td>
</tr>}
    </tbody>
</table>
