@model IEnumerable<Facturacion.Models.Cliente>

@{ ViewData["Title"] = "Index Cliente"; }

<h1>Listado</h1>

<p>
    <a asp-action="Create"><input type="button" value="Agregar Nuevo" class="btn btn-success" /></a>
</p>
@if (Model.Count() == 0)
{
<h1 style="
    text-align: center;
">
    No Se han ingresado Datos
</h1>}

<div class="flex-container">
    @foreach (var item in Model)
    {
<div class="flx">

    <div class="card">


        <p>
            @Html.DisplayNameFor(model => model.Nombres):   @Html.DisplayFor(modelItem => item.Nombres)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Apellido):      @Html.DisplayFor(modelItem => item.Apellido)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Nit) :     @Html.DisplayFor(modelItem => item.Nit)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Telefono) :    @Html.DisplayFor(modelItem => item.Telefono)
        </p>
        <p>
            @Html.DisplayNameFor(model => model.Activo) :    @Html.DisplayFor(modelItem => item.Activo)
        </p>


        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Acciones
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="btn-group btn-group">

                    
                        
                            <a asp-action="Edit" asp-route-id="@item.codigo_cliente">
                                <input type="button" class="btn btn-secondary" value="Editar" />
                            </a>
                        

                        
                            <a asp-action="Details" asp-route-id="@item.codigo_cliente">
                                <input type="button" class="btn btn-success" value="Detalle" />
                            </a>

                        
                        
                            <a asp-action="Delete" asp-route-id="@item.codigo_cliente">
                                <input type="button" class="btn btn-danger" value="Eliminar" />
                            </a>
                        
                         

                    

                </div>


            </div>
        </div>
    </div>


</div>}

</div>